* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
    background-color: #f7f9fc;
    color: #333;
    line-height: 1.6;
}

nav {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

nav ul li a:hover  {
    background-color: #fff;
    color: #4d5791;
    border-radius: 6px;
}
.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('public/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
}

.hero h1{
    color: #fff;
    font-size: 2.8rem;
    margin-bottom: 10px;
}
.hero h2 {
    color: #4d5791;
    font-size: 1.2rem;
}

.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

.hero h2 {
    color: #4d5791;
}

main {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.page-area {
    max-width: 900px;
    width: 100%;
}

footer {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.skip {
    display: block;
    line-height: 44px;
    padding: 0 20px;
    margin-top: -44px;
}

.skip:focus {
    margin-top: 0;
}

.center {
    text-align: center;
}

main article {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    main article {
        margin: 10px;
    }
}